/* MEDIA */

@media (min-width: 1440px) and (max-width: 425px) {
}

@media (max-width: 1024px) {
    .headerIndex, .headerNosotros, .headerLocal, .headerChocolates, .headerContacto {
        .tituloHeader {
            font-size: 2.3rem;
        }
    }
}

@media (max-width: 768px) {
    main {
        .grid-container {
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(6, 1fr);
            padding: 0 20px;
        }
        .divFooterLogo {
            display: none;
        }
    }
}

@media (max-width: 425px) {
    main {
        .h2ChocolatesMain {
            text-align: center;
        }
        .h3Acerca {
            font-size: 42px;
        }
        .hrAcerca {
            margin: 0 100px;
        }
        .pAcerca {
            font-size: 18px;
        }
        .grid-container {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(18, 1fr);
            padding: 40px 0;
        }
        .grid-container2 {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 1fr);
        }
        .grid-container3 {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(5, 1fr);
        }
        .grid-container4 {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);
        }
        .h2Contacto {
            font-size: 27px;
        }
        .pContacto {
            font-size: 17px;
        }
    }
    footer {
        .divFooterLogo {
            display: none;
        }
        .h2Footer {
            border: 2px solid white;
            border-radius: 10px;
        }
    }
}