* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  -webkit-text-decoration: underline #ffffff;
          text-decoration: underline #ffffff;
}

/* HEADER INDEX */
.headerIndex {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headerIndex .nav-link {
  font-size: 20px;
  color: white;
}
.headerIndex .imgLetras {
  margin: 0px auto;
  padding-top: 125px;
  width: 600px;
  height: auto;
}
.headerIndex .h1Header {
  margin-top: 50px;
}
.headerIndex .h2Header {
  margin-top: 10px;
}

/* HEADER NOSOTROS */
.headerNosotros {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headerNosotros .nav-link {
  font-size: 20px;
  color: white;
}
.headerNosotros .tituloHeader {
  font-size: 3.75rem;
  margin-top: 200px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
}

/* HEADER LOCAL */
.headerLocal {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headerLocal .nav-link {
  font-size: 20px;
  color: white;
}
.headerLocal .tituloHeader {
  font-size: 3.75rem;
  margin-top: 200px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
}

/* HEADER CHOCOLATES */
.headerChocolates {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-5.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headerChocolates .nav-link {
  font-size: 20px;
  color: white;
}
.headerChocolates .tituloHeader {
  font-size: 3.75rem;
  margin-top: 200px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
}

/* HEADER CONTACTO */
.headerContacto {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.headerContacto .nav-link {
  font-size: 20px;
  color: white;
}
.headerContacto .tituloHeader {
  font-size: 3.75rem;
  margin-top: 200px;
  text-align: center;
  color: white;
  font-weight: 700;
  letter-spacing: 0.2em;
}

/* MAIN INDEX */
main .divChocolates {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/index-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .divLocales {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/index-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .divNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/index-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
main .fa-solid {
  color: white;
  font-weight: 900;
  font-size: 80px;
  margin-top: 20px;
}
main .h3Steps {
  margin: 40px 0;
  color: white;
  font-size: 27px;
}
main .divASpan {
  margin: 30px 0;
  padding: 10px 15px;
  font-size: 18px;
}
main .aSteps {
  font-weight: 700;
  color: white;
  border: 3px solid white;
  border-radius: 30px;
  padding: 10px;
}
main .aSteps:hover {
  background-color: white;
  color: black;
}
main .divAcerca {
  height: 60vh;
  text-align: center;
  margin-top: 200px;
}
main .hrAcerca {
  margin: 0 200px;
}
main .h3Acerca {
  font-size: 52px;
}
main .divHr {
  margin-top: 100px;
  border-color: black;
}
main .pAcerca {
  margin-top: 75px;
  font-size: 23px;
}
main .chocolatesMain {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .divChocolatesMain {
  padding: 50px;
}
main .h2ChocolatesMain {
  font-size: 50px;
  color: white;
}

/* MAIN NOSOTROS */
main .divHistoria h2 {
  margin-bottom: 40px;
  margin-top: 20px;
  font-size: 54px;
}
main .divHistoria p {
  font-size: 20px;
}

/* MAIN LOCAL */
main .divLocal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
main .divDireccion {
  border: 2px solid black;
  border-radius: 20px;
  background-color: #e0e0e0;
  padding: 30px;
  max-width: 700px;
  max-height: 900px;
  text-align: center;
}
main .divDireccion .h2Local {
  font-size: 54px;
  text-decoration: underline;
}
main .divDireccion .pLocal {
  font-size: 25px;
  margin: 40px 0;
}
main .divDireccion iframe {
  border-radius: 20px;
}

/* MAIN CHOCOLATES */
main .divH2Choco {
  text-align: center;
  background-color: #bd8913;
  padding: 30px 0;
}
main .divH2Choco .h2Choco {
  color: white;
  font-size: 65px;
  font-family: "EB Garamond", serif;
}
main .grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  padding: 40px 0;
  background-color: #c7a85e;
}
main .grid-container2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  padding: 40px 0;
  background-color: #c7a85e;
}
main .grid-container3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  padding: 40px 0;
  background-color: #c7a85e;
}
main .grid-container4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(1, 1fr);
  justify-items: center;
  align-items: center;
  row-gap: 25px;
  padding: 40px 0;
  background-color: #c7a85e;
}
main .grid-item {
  text-align: center;
}
main .grid-item img {
  border: 3px solid white;
  border-radius: 20px;
}
main .grid-item h3 {
  font-size: 22px;
  margin-top: 5px;
}

/* MAIN CONTACTO */
main .divContacto {
  text-align: center;
}
main .h2Contacto {
  font-size: 30px;
  letter-spacing: 5px;
  padding: 50px;
}
main .pContacto {
  font-size: 18px;
  padding: 50px;
  margin-bottom: 20px;
}

/* FOOTER */
footer {
  background-color: #211f1b;
}
footer .divFooterDir {
  text-align: center;
}
footer .h2Footer {
  border: 3px solid white;
  border-radius: 10px;
  padding: 15px;
}
footer .dirFooter {
  font-size: 18px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 8px;
  font-size: 18px;
  font-weight: 700;
  padding-top: 60px;
}
footer .redesFooter {
  text-align: center;
}
footer .flexIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .wpIcon {
  margin: 50px 20px 0px 20px;
  font-size: 50px;
}
footer .wpIcon .fa-whatsapp {
  color: green;
}
footer .igIcon {
  margin: 50px 20px 0px 20px;
  font-size: 50px;
}
footer .igIcon .fa-instagram {
  color: transparent;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  background-clip: text;
  -webkit-background-clip: text;
}
footer .divCopy {
  width: 100%;
  max-width: 100%;
}
footer .divCopy hr {
  margin-top: 40px;
}
footer .copyrightFooter {
  color: white;
  text-align: center;
  margin-top: 30px;
}
footer .copyrightLink {
  color: white;
  font-size: 17px;
}

/* MEDIA */
@media (max-width: 1024px) {
  .headerIndex .tituloHeader, .headerNosotros .tituloHeader, .headerLocal .tituloHeader, .headerChocolates .tituloHeader, .headerContacto .tituloHeader {
    font-size: 2.3rem;
  }
}
@media (max-width: 768px) {
  main .grid-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding: 0 20px;
  }
  main .divFooterLogo {
    display: none;
  }
}
@media (max-width: 425px) {
  main .h2ChocolatesMain {
    text-align: center;
  }
  main .h3Acerca {
    font-size: 42px;
  }
  main .hrAcerca {
    margin: 0 100px;
  }
  main .pAcerca {
    font-size: 18px;
  }
  main .grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(18, 1fr);
  }
  main .grid-container2 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  main .grid-container3 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  main .grid-container4 {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  main .h2Contacto {
    font-size: 27px;
  }
  main .pContacto {
    font-size: 17px;
  }
  footer .divFooterLogo {
    display: none;
  }
  footer .h2Footer {
    border: 2px solid white;
    border-radius: 10px;
  }
}/*# sourceMappingURL=main.css.map */