/* HEADER INDEX */

.headerIndex {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link {
        font-size: 20px;
        color: white;
        &:hover {
            transform: scale(1.3);
            transition: all .2s;
        }
    }
    .img {
        &:hover {
            transform: scale(1.1);
            transition: all .2s;
        }
    }
    .imgLetras {
        margin: 0px auto;
        padding-top: 125px;
        width: 600px;
        height: auto;
    }
    .h1Header {
        margin-top: 50px;
    }
    .h2Header {
        margin-top: 10px;
    }
}

/* HEADER NOSOTROS */

.headerNosotros {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link {
        font-size: 20px;
        color: white;
        &:hover {
            transform: scale(1.3);
            transition: all .2s;
        }
    }
    .img {
        &:hover {
            transform: scale(1.1);
            transition: all .2s;
        }
    }
    .tituloHeader {
        font-size: 3.75rem;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
}

/* HEADER LOCAL */

.headerLocal {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link {
        font-size: 20px;
        color: white;
        &:hover {
            transform: scale(1.3);
            transition: all .2s;
        }
    }
    .img {
        &:hover {
            transform: scale(1.1);
            transition: all .2s;
        }
    }
    .tituloHeader {
        font-size: 3.75rem;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
}

/* HEADER CHOCOLATES */

.headerChocolates {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link {
        font-size: 20px;
        color: white;
        &:hover {
            transform: scale(1.3);
            transition: all .2s;
        }
    }
    .img {
        &:hover {
            transform: scale(1.1);
            transition: all .2s;
        }
    }
    .tituloHeader {
        font-size: 3.75rem;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
}

/* HEADER CONTACTO */

.headerContacto {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../Images/header-index-6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    .nav-link {
        font-size: 20px;
        color: white;
        &:hover {
            transform: scale(1.3);
            transition: all .2s;
        }
    }
    .img {
        &:hover {
            transform: scale(1.1);
            transition: all .2s;
        }
    }
    .tituloHeader {
        font-size: 3.75rem;
        margin-top: 200px;
        text-align: center;
        color: white;
        font-weight: 700;
        letter-spacing: 0.2em;
    }
}